<ul >
    <li class="liclass1" ><a routerLink="/"><img src="assets/logo.png"></a></li>
    <li class="liclass1"><a routerLink="/AddBook"><button >Add Book</button></a></li>
    <li class="liclass1"><a routerLink="/LibraryBooks"><button>Books in the library</button></a></li>
    <li class="liclass1"><a routerLink="/OutLibraryBooks"><button>Books out of the library</button></a></li>
    <li><div class="divClass"></div></li>
    <li class="liclass2"><a routerLink="/Settings"><button>Settings</button></a></li>
</ul>
